:root {
    --gray: hsl(240, 9%, 89%);
    --black: hsl(240, 6%, 13%);
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;    
}

main {
    background: url(../assets/images/background.svg);
    width: 375px;
    height: 812px;
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--gray);
    margin-top: 0.25rem;

    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.container {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;

    color: var(--gray);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 100;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

@media (min-width: 1401px) {

    body {
        background-color: #333;
    }

    main {
        background: none;
    }

    .container {
        margin-top: 2rem;        
    }

    ul {
        margin-top: 1rem;
    }
}

@media (max-width: 1400px) {
    body {
        overflow: hidden;
        background-color: #333;
    }    

    main {
        background: none;
    }

    .avatar > img {
        margin-top: 0.71rem;
    }

    ul {
        margin-top: 1rem;
    }

    p {
        margin-top: 2rem;
    }
}


@media (max-width: 600px) {
    main {
        background: url(../assets/images/background.svg) no-repeat center/cover;
        width: 100vw;
        min-height: 812px;
        height: 100vh;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        margin-top: -5rem;
    }
}
